<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <h1>new app</h1>
    <% for (post of posts) { %>
        <div class="firstdiv">
            <h3 class="username">@<%= post.username %></h3>
            <h4 class="bank">indian <%= post.bank %></h4>
            <a href="http://localhost:8080/postss/<%=post.id%>">show me details</a><br>
            <a href="http://localhost:8080/postss/<%=post.id%>/edit">edit</a>
            
            <form method="post" action="/postss/<%= post.id %>?_method=DELETE">
                <button>delete post</button>
            </form>

        </div>
    <% } %>

    <a href="http://localhost:8080/posts/new">create new acc@</a>
</body>
</html>

